doctype html
html(lang="en")
  head
    title Login
    script(type="text/javascript" src="/scripts.js")   
  a(href='about' style="color:red;") About
  br
  br
  body
       div.label Login
       div.username
       br
       input(type="text" placeholder="Username" id="input1")
        
       div.password
       br
       input(type="password" placeholder="Password" id="input2")

       div.checkbox
       br
       button(onclick='myJsFunction()') Sign in
       br
       
       br
       div.label Register
       br
       a(href= 'register' style="color:orange;") CLICK HERE TO REGISTER  
   


       